@import "tailwindcss";


@layer base {
    body{
        @apply bg-amber-100;
    }
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.noscrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #fef3c7; /* amber-100 */
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #65a30d; /* green-600 */
    border-radius: 4px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #3f6212; /* green-800 */
  }