@import "tailwindcss";


@layer base {
    body{
        @apply bg-amber-100;
    }
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.noscrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}